<div class="container">

  {{#bs-navbar type="dark" backgroundColor="dark" as |navbar|}}

    <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to "index" class="navbar-brand"}}
        {{fa-icon "dot-circle-o"}}
        Reflection
      {{/link-to}}
    </div>

    {{#navbar.content}}
      <ul class="navbar-nav mr-auto">
        {{#navbar.nav as |nav|}}
          {{#nav.item}}
            {{#nav.link-to "mystory"}}
              {{fa-icon "user-o"}}
              My Story
            {{/nav.link-to}}
          {{/nav.item}}

          {{#nav.item}}
            {{#nav.link-to "research"}}
              {{fa-icon "eye"}}
              Research Interests
            {{/nav.link-to}}
          {{/nav.item}}

          {{#nav.item}}
            {{#nav.link-to "projects"}}
              {{fa-icon "bookmark-o"}}
              Projects
            {{/nav.link-to}}
          {{/nav.item}}
        {{/navbar.nav}}
      </ul>

      {{#bs-modal open=modal3 onHidden=(action (mut modal3) false) as |modal|}}
        {{#modal.header}}
          <h4 class="modal-title">
            About
          </h4>
        {{/modal.header}}

        {{#modal.body}}
          {{#bs-tab as |tab|}}

            {{#tab.pane title="Technology Stack"}}
              <div class="row">

                <div class="col-sm-5 col-md-5">
                  <div class="thumbnail">
                    <div align=center>
                      <strong>...</strong>
                    </div>
                    {{tech-stack-physics}}
                  </div>
                </div>

                <div class="col-sm-7 col-md-7">
                  <div class="thumbnail">
                    <h2>Reflection App</h2>
                    <p>
                      This wep-app is a slide show concering one's life journey and interests. This Single-Page Application (SPA) is designed and developed by <a href="http://knshetty.weebly.com/">Nirdharsh</a>.

                      <br>
                      <br>
                      <strong>Version</strong>

                      <br>
                      &nbsp; 0.2v 2018

                      <br>
                      <br>
                      <strong>License</strong>

                      <br>
                      &nbsp; &nbsp;3-clause New BSD License.

                      <br>
                      <br>
                      <strong>Copyright</strong>

                      <br>
                      &nbsp; &nbsp;&copy; 2019 Nirdharsh Shetty
                    </p>
                  </div>
                </div>

              </div>
            {{/tab.pane}}

            {{#tab.pane title="Version History"}}
              <hr/>
              <h4>0.2v - November 2018 release</h4>
              <ul style="list-style-type: disc;">
                <li>Add View: Version History </li>
                <li>Add Project: Shire-Horse 2017</li>
                <li>Upgrade Technology Stack: Ember.js v3.3.0, Bootstrap v4, matter.js v0.14.2</li>
              </ul>
              <hr/>
              <h4>0.1v - October 2015 release</h4>
              <ul style="list-style-type: disc;">
                <li>Technology Stack: Ember.js v0.1.4, Bootstrap v3, matter.js v0.8.0-alpha</li>
              </ul>
            {{/tab.pane}}

          {{/bs-tab}}
        {{/modal.body}}

        {{#modal.footer}}
          {{#bs-button onClick=(action modal.close)}}Close{{/bs-button}}
        {{/modal.footer}}
      {{/bs-modal}}
      {{#bs-button onClick=(action (mut modal3) true)}}
        {{fa-icon "info-circle"}}
        About
      {{/bs-button}}

    {{/navbar.content}}
  {{/bs-navbar}}

  {{outlet}}

</div>
